<!DOCTYPE html>
<html>
  <head>
    <title>Lowdb JSON File Database Example Starter</title>
    <meta
      name="description"
      content="Lowdb JSON File Database Example Starter"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="stylesheet.css" />
  </head>
  <body>
    <header>
      <h1>
        People
      </h1>
    </header>

    <main>
      <form
        action="/new"
        method="POST"
        enctype="application/x-www-form-urlencoded"
      >
        <input
          name="first_name"
          type="text"
          maxlength="100"
          value=""
          placeholder="Prénom"
        />
        <input
          name="last_name"
          type="text"
          maxlength="100"
          value=""
          placeholder="Nom"
        />
        <button type="submit">Ajouter</button>
      </form>
      <p></p>
      <section class="users">
        <!--
        <ul id="users"></ul>
        -->
        <table id="users">
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
          </tr>
        </table>
      </section>
      <p><a href="/reset">Reset</a></p>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
